//global styles

// variables
$light-primary: rgba(22, 155, 213, 1);

// buttons
.mat-light-primary {
    background-color: $light-primary;
    color: #fff;
}

.mat-light-primary-color {
    color: rgba(22, 155, 213, 1);
    background-color: #fff;
    box-shadow: 0px 3px 1px -2px $light-primary, 0px 2px 2px 0px $light-primary, 0px 1px 5px 0px $light-primary;
}